/* FILEPATH: /c:/Users/Pc Force/Desktop/nuxt/mangaList/assets/css/main.css */

/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



a:hover {
    text-decoration: underline;
}
